<%= form_for(@surg_hosp_cr_condition) do |f| %>
  <% if @surg_hosp_cr_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surg_hosp_cr_condition.errors.count, "error") %> prohibited this surg_hosp_cr_condition from being saved:</h2>

      <ul>
      <% @surg_hosp_cr_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surg_hosp_cr_doc_id %><br>
    <%= f.text_field :surg_hosp_cr_doc_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
