<p id="notice"><%= notice %></p>

<p>
  <strong>Surg hosp cr doc:</strong>
  <%= @surg_hosp_cr_condition.surg_hosp_cr_doc %>
</p>

<p>
  <strong>Type:</strong>
  <%= @surg_hosp_cr_condition.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @surg_hosp_cr_condition.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @surg_hosp_cr_condition.detail %>
</p>

<%= link_to 'Edit', edit_surg_hosp_cr_condition_path(@surg_hosp_cr_condition) %> |
<%= link_to 'Back', surg_hosp_cr_conditions_path %>
