<p id="notice"><%= notice %></p>

<p>
  <strong>Surg hosp cr:</strong>
  <%= @surg_hosp_cr_doc.surg_hosp_cr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @surg_hosp_cr_doc.name %>
</p>

<%= link_to 'Edit', edit_surg_hosp_cr_doc_path(@surg_hosp_cr_doc) %> |
<%= link_to 'Back', surg_hosp_cr_docs_path %>
